<!DOCTYPE html>
<html>
<head lang="en">
   <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
   <title>About me</title>
</head>
<body>
	<header>

	<ul>
		<li>About me</li>
		<li><a href="catalog.html">Study</a></li>
		<li><a href="contacts.html">Work</a></li>
	</ul>
	<hr/>
	</header>

<h1>Alexey V. Garkovenko</h1>

<article>
    <img src="/static/img/myphoto.jpg" alt="My image"/>
    <p>Hi! My name is Alexey Vjacheslavovich Garkovenko</p>
    <p>I was born in 1975 in Krasnodar, USSR</p>
    <p>I love programming in Python, develop web-applications with Django and more.</p>
</article>

</body>
</html>
